*, *::after , *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

input, button, textarea {
  font-family: inherit;
}

/* flex helper */

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.content-center {
  justify-content: center;
  align-items: center;
}
.jc-sb {
  justify-content: space-between;
}
.ai-c {
  align-items: center;
}