.table-section {
  width: 60%;
}

.table {
  width: 100%;
  background-color: #F3F1F1;
  text-align: center;
  height: 25rem;
  padding: 2rem;
  border-radius: 15px;

  display: grid;
  grid-template-rows: repeat(6, 16.66%);
  grid-template-columns: repeat(6, 16.66%);



  &__heading {
    grid-column: 1/7;
    display: grid;
    grid-template-columns: 14.31% 21.82% 20.27% 24.48% 9.48% 9.48%;
    background-color: #BDC3C7;
    align-items: center;
    border-radius: 5px;
  }

  &__row {
    grid-column: 1/7;
    display: grid;
    grid-template-columns: 14.31% 21.82% 20.27% 24.48% 9.48% 9.48%;
    align-items: center;
  }
}

th {
  background-color: #BDC3C7;
}